.seo-text {
  padding-bottom: 100px;
}

.seo-text h2 {
  width: 1177px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
}

.seo-text p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 24px;
}
